/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .App-header-navButton {
    display: block !important;
  }

  .App-header-logo {
    display: none !important;
  }

  .App-header-logo-sm {
    display: block !important;
  }

  .App-header-navItem {
    display: none !important;
  }


  .App-home-slider {
    padding: 40px 20px 0px 20px;
  }

  .App-home-count-section {
    padding: 0 20px;
  }

  .App-emical-slider-bg {
    padding: 30px 15px;
  }


  .App-emical-padding {
    padding-left: 0px
  }

  .App-home-slider-title {
    color: #fff !important;
    font-size: 26px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    margin-top: 40px !important;
  }

  .App-emical-items{
    /* float :right !important; */
  }

  .App-home-testimonial{
    padding: 20px;
  }

  .App-home-blog{
    padding-left: 0px !important;
  }

    
  .App-home-blog-show-desktop{
    display : none;
  }

  .App-home-blog-show-mb{
    display : block;
  }

  .App-home-awards-item{
    margin-top: 15px !important;
  }

  .App-home-footer-bg{
    background:#282727;
    color : #fff;
    padding:20px;
  }

  .App-home-footer-contact{
    padding : 5px 15px 0px 15px !important;
  }

  
  .App-about-team-bg img{
    margin:0px;
  }
 
  .App-signup-container{
    padding : 0px;
  }

  .App-signup-content{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height : auto;
    padding : 0 15px !important;
  }
  
  .App-login-container{
    padding: 0px !important;
  }

  .App-login-content{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height : auto;
    padding : 0 15px !important;
  }
  
  .App-signup-content-left{
    padding: 0px;
  }
    
}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

  .App-header-navButton {
    display: block !important;
  }

  .App-header-logo {
    display: none !important;
  }

  .App-header-logo-sm {
    display: block !important;
  }

  .App-header-navItem {
    display: none !important;
  }

  .App-home-slider {
    padding: 40px 20px 0px 20px;
  }

  .App-home-count-section {
    padding: 0 20px;
  }

  .App-emical-slider-bg {
    padding: 30px 15px;
  }


  .App-emical-padding {
    padding-left: 0px
  }

  .App-home-slider-title {
    color: #fff !important;
    font-size: 26px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    margin-top: 40px !important;
  }

  .App-emical-items{
    /* float :right !important; */
  }

  
  .App-home-testimonial{
    padding: 20px;
  }

  .App-home-blog{
    padding-left: 0px !important;
  }

    
  .App-home-blog-show-desktop{
    display : none;
  }

  .App-home-blog-show-mb{
    display : block;
  }

  .App-home-awards-item{
    margin-top: 15px !important;
  }

  .App-home-footer-bg{
    background:#282727;
    color : #fff;
    padding:20px;
  }

  .App-home-footer-contact{
    padding : 5px 15px 0px 15px !important;
  }

  
  .App-about-team-bg img{
    margin:0px;
  }
  

  .App-signup-container{
    padding : 0px;
  }
  
  .App-signup-content{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height : auto;
    padding : 0 15px !important;
 }

 .App-login-container{
  padding: 0px !important;
}

.App-login-content{
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  height : auto;
  padding : 0 15px !important;
}

.App-signup-content-left{
  padding: 0px;
}
  
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .App-header-navButton {
    display: block !important;
  }

  .App-header-logo {
    display: none !important;
  }

  .App-header-logo-sm {
    display: block !important;
  }

  .App-header-navItem {
    display: none !important;
  }

  .App-home-slider {
    padding: 40px 20px 0px 20px;
  }

  .App-home-count-section {
    padding: 0 20px;
  }

  .App-emical-slider-bg {
    padding: 30px 15px;
  }


  .App-emical-padding {
    padding-left: 0px
  }

  .App-home-slider-title{
    color : #fff !important;
    font-size: 26px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    margin-top: 40px !important;
  }

  .App-emical-items{
    /* float :right !important; */
  }

  .App-home-testimonial{
    padding: 20px;
  }

  .App-home-blog{
    padding-left: 0px !important;
  }

    
  .App-home-blog-show-desktop{
    display : none;
  }

  .App-home-blog-show-mb{
    display : block;
  }

  .App-home-awards-item{
    margin-top: 15px !important;
  }

  .App-home-footer-bg{
    background:#282727;
    color : #fff;
    padding:20px;
  }

  .App-home-footer-contact{
    padding : 5px 15px 0px 15px !important;
  }
  
  .App-about-team-bg img{
    margin:0px;
  }
  
  .App-signup-container{
    padding : 0px;
  }
  
  .App-signup-content{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height : auto;
    padding : 0 15px !important;
 }

  .App-login-container{
    padding: 0px !important;
  }

  .App-login-content{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height : auto;
    padding : 0 15px !important;
  }
  
  .App-signup-content-left{
    padding: 0px;
  }
    
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .App-header-navButton {
    display: block !important;
  }

  .App-header-logo {
    display: none !important;
  }

  .App-header-logo-sm {
    display: block !important;
  }

  .App-header-navItem {
    display: none !important;
  }

  .App-home-slider {
    padding: 40px 20px 0px 20px;
  }

  .App-home-count-section {
    padding: 0 20px;
  }

  .App-emical-slider-bg {
    padding: 30px 15px;
  }

  .App-emical-padding {
    padding-left: 0px
  }

  .App-home-slider-title{
    color : #fff !important;
    font-size: 26px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    margin-top: 40px !important;
  }

  .App-emical-items{
    /* float :right !important; */
  }

  .App-home-testimonial{
    padding: 20px;
  }

  .App-home-blog{
    padding-left: 0px !important;
  }

    
  .App-home-blog-show-desktop{
    display : none;
  }

  .App-home-blog-show-mb{
    display : block;
  }

  .App-home-awards-item{
    margin-top: 15px !important;
  }

  .App-home-footer-bg{
    background:#282727;
    color : #fff;
    padding:20px;
  }

  .App-home-footer-contact{
    padding : 5px 15px 0px 15px !important;
  }
  
  .App-about-team-bg img{
    margin:0px;
  }
  
  .App-signup-container{
    padding : 0px;
  }
  
  .App-signup-content{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height : auto;
    padding : 0 15px !important;
 }

  .App-login-container{
    padding: 0px !important;
  }

  .App-login-content{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height : auto;
    padding : 0 15px !important;
  }
  
  .App-signup-content-left{
    padding: 0px;
  }
    
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .App-header-navButton {
    display: block !important;
  }

  .App-header-logo {
    display: none !important;
  }

  .App-header-logo-sm {
    display: block !important;
  }

  .App-header-navItem {
    display: none !important;
  }

  .App-home-slider {
    padding: 40px 20px 0px 20px;
  }

  .App-home-count-section {
    padding: 0 20px;
  }

  .App-emical-slider-bg {
    padding: 30px 15px;
  }


  .App-emical-padding {
    padding-left: 0px
  }

  .App-home-slider-title{
    color : #fff !important;
    font-size: 26px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    margin-top: 40px !important;
  }

  .App-emical-items{
    /* float :right !important; */
  }

  .App-home-testimonial{
    padding: 20px;
  }

  .App-home-blog{
    padding-left: 0px !important;
  }

    
  .App-home-blog-show-desktop{
    display : none;
  }

  .App-home-blog-show-mb{
    display : block;
  }

  .App-home-awards-item{
    margin-top: 15px !important;
  }

  .App-home-footer-bg{
    background:#282727;
    color : #fff;
    padding:20px;
  }

  .App-home-footer-contact{
    padding : 5px 15px 0px 15px !important;
  }
  
  .App-about-team-bg img{
    margin:0px;
  }
  
  .App-signup-container{
    padding : 0px;
  }
 
  .App-signup-content{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height : auto;
    padding : 0 15px !important;
 }
  .App-login-container{
    padding: 0px !important;
  }

  .App-login-content{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height : auto;
    padding : 0 15px !important;
  }
  
  .App-signup-content-left{
    padding: 0px;
  }
    
}


/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  .App-header-navButton {
    display: block !important;
  }

  .App-header-logo {
    display: none !important;
  }

  .App-header-logo-sm {
    display: block !important;
  }

  .App-header-navItem {
    display: none !important;
  }

  .App-home-slider {
    padding: 40px 20px 0px 20px;
  }

  .App-home-count-section {
    padding: 0 20px;
  }

  .App-emical-slider-bg {
    padding: 30px 15px;
  }


  .App-emical-padding {
    padding-left: 0px
  }

  .App-home-slider-title{
    color : #fff !important;
    font-size: 26px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    margin-top: 40px !important;
  }
  .App-emical-items{
    /* float :right !important; */
  }

  
  .App-home-testimonial{
    padding: 20px;
  }

  .App-home-blog{
    padding-left: 0px !important;
  }

    
  .App-home-blog-show-desktop{
    display : none;
  }

  .App-home-blog-show-mb{
    display : block;
  }

  .App-home-awards-item{
    margin-top: 15px !important;
  }

  .App-home-footer-bg{
    background:#282727;
    color : #fff;
    padding:20px;
  }

  .App-home-footer-contact{
    padding : 5px 15px 0px 15px !important;
  }
  
  .App-about-team-bg img{
    margin:0px;
  }
  
  .App-signup-container{
    padding : 0px;
  }
 
  .App-signup-content{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height : auto;
    padding : 0 15px !important;
 }

  .App-login-container{
    padding: 0px !important;
  }
  .App-login-content{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height : auto;
    padding : 0 15px !important;
  }
  
  .App-signup-content-left{
    padding: 0px;
  }
    
}

/* iPhone 6 ----------- */
@media only screen and (max-device-width: 667px),
only screen and (-webkit-device-pixel-ratio: 2) {
  .App-header-navButton {
    display: block !important;
  }

  .App-header-logo {
    display: none !important;
  }

  .App-header-logo-sm {
    display: block !important;
  }

  .App-header-navItem {
    display: none !important;
  }

  .App-home-slider {
    padding: 40px 20px 0px 20px;
  }

  .App-home-count-section {
    padding: 0 20px;
  }

  .App-emical-slider-bg {
    padding: 30px 15px;
  }


  .App-emical-padding {
    padding-left: 0px
  }

  .App-home-slider-title{
    color : #fff !important;
    font-size: 26px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    margin-top: 40px !important;
  }
  .App-emical-items{
    /* float :right !important; */
  }

  
  .App-home-testimonial{
    padding: 20px;
  }

  .App-home-blog{
    padding-left: 0px !important;
  }

    
  .App-home-blog-show-desktop{
    display : none;
  }

  .App-home-blog-show-mb{
    display : block;
  }

  .App-home-awards-item{
    margin-top: 15px !important;
  }

  .App-home-footer-bg{
    background:#282727;
    color : #fff;
    padding:20px;
  }

  .App-home-footer-contact{
    padding : 5px 15px 0px 15px !important;
  }

  .App-about-team-bg img{
    margin:0px;
  }
  
  .App-signup-container{
    padding : 0px;
  }
 
  .App-signup-content{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height : auto;
    padding : 0 15px !important;
 }

  .App-login-container{
    padding: 0px !important;
  }
  .App-login-content{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height : auto;
    padding : 0 15px !important;
  }
  
  .App-signup-content-left{
    padding: 0px;
  }
    
}


/* Samsung Galaxy S7 Edge ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (min-resolution: 192dpi),
only screen and (max-width:640px) {
  .App-header-navButton {
    display: block !important;
    margin: 0px !important;
  }

  .App-header-toolbar {
    padding: 0px 10px 0px 0px !important;
  }

  .App-header-logo {
    display: none !important;
  }

  .App-header-logo-sm {
    display: block !important;
  }

  .App-header-navItem {
    display: none !important;
  }


  .App-home-slider {
    padding: 40px 20px 0px 20px;
  }

  .App-home-count-section {
    padding: 0 20px;
  }

  .App-counts {
    opacity: 1;
    background-color: transparent;
    padding: 30px 20px;
    text-align: center;
  }

  .App-counts-title {
    font-size: 16px !important;
    color: #fff !important;
    margin-top: 5px !important;
  }

  .App-counts-number {
    font-size: 35px !important;
    color: #fff !important;
    margin-top: 5px !important;
  }

  .App-home-slider2-bg {
    opacity: 1;
    background: #fff;
    padding: 30px 0px;
  }

  .App-home-slider2-Padding {
    padding: 0px 0px 0px 0px !important;
  }

  .App-home-slider2-img {
    width: 100% !important;
  }


  .App-home-process-Padding {
    padding: 0px 15px;
  }

  .App-emical-slider-bg {
    padding: 30px 15px;
  }


  .App-emical-padding {
    padding-left: 0px
  }

  .App-home-slider-title{
    color : #fff !important;
    font-size: 26px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    margin-top: 40px !important;
  }

  .App-emical-items{
    /* float :right !important; */
  }

  .App-home-testimonial{
    padding: 20px;
  }

  .App-home-blog{
    padding-left: 0px !important;
  }

  
  .App-home-blog-show-desktop{
    display : none;
  }

  .App-home-blog-show-mb{
    display : block;
  }

  .App-home-awards-item{
    margin-top: 15px !important;
  }

  .App-home-footer-bg{
    background:#282727;
    color : #fff;
    padding:20px;
  }
  
  .App-home-footer-contact{
    padding : 5px 15px 0px 15px !important;
  }

  .App-about-title{
    margin-top: 30px !important;
  }
  
  .App-about-top-section{
    padding-left: 20px !important;
  }

  

  .App-about-team-bg img{
    margin:0px;
  }

  .App-signup-container{
    padding : 0px;
  }

  .App-signup-title{
    margin-top: 30px !important;
  }

  .App-signup-content{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height : auto;
    padding : 0 15px !important;
 }

  .App-login-container{
    padding: 0px !important;
  }

  
.App-login-content{
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  height : auto;
  padding : 0 15px !important;
}

.App-signup-content-left{
  padding: 0px;
}
  
}


